@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression}); 
}


#app-wrapper {
  display: grid;
  grid-template-columns:1fr;
  #app-column1 {
    display: grid;
    grid-template-columns:1fr;
    width:100%;
    padding:5rem 0 0 0;
    // border-bottom:1px solid rgba(0,0,0,0.2);
    #column1-title {
      grid-row:1/span 1;
      grid-column:1/span 1;
      text-align:center;
      h1 {
        font-family: sans-serif;
        letter-spacing:0.2rem;
      }
      h3 {
        text-align:center;
        font-family:sans-serif;
        letter-spacing:0.2rem;
      }
    }
  }
  #app-column2 {
    width:100%;
    #project-tiles {
      display:grid;
      grid-template-columns:1fr 1fr;
      .project-image-wrapper {
        background-color:lightgray;
        grid-column:1/3;
        display:flex;
        height:90vh;
        img {
          width:50vw;
          height:100%;
          cursor:pointer;
        }
        div {
          display:flex;
          p {
            margin:0 1rem;
            text-align:center;
            display:flex;
            align-items:center;
            
          }
        }
      }
    }
  }
}

.technologies-used-list {
  list-style-type: none;
  text-align:center;
  padding:0 1rem;
  border-right:1px solid rgba(0,0,0,0.2);
  display:grid;
  align-items:center;
  justify-content:center;
  grid-template-columns:4rem;
  color:white;
  margin:0;
}

.MuiAppBar-colorPrimary {
  background-color:white;
}

html {
  height:100%;
  body {
    height:100%;
    margin:0;
    font-family:sans-serif;
    cursor:default;
    #appContainer {
      #app-wrapper {
        height:100%;
      }
    }
  }
}

.nav-icon {
  color:black;
  display:flex;
}

#nav-contact-icon {
  .MuiIconButton-label {
    display:flex;
    p {
      margin:0;
    }
  }
}

#nav-resume-icon {
  .MuiIconButton-label {
    display:flex; 
    p {
      margin:0;
    }
  }
}

.project-modal {
  .clone-modal {
    width:80vw;
    height:80vh;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-self:center;
    img {
      width:100%;
      height:50%;
    }
  }
}

#youtube-modal-wrapper {
  height:100%;
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
}

#weather-modal-wrapper {
  height:100%;
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
}

.modal-text-content {
  height:50%;
  p {
    margin:0 1rem;
  }
}

.close-modal {
  display:flex;
  justify-content:center;
  margin:0 auto;
  span {
    svg {
      width:10vw;
      height:10vh;
    }
  }
}

.centered-modal-text {
  background-color:white;
  height: 100%;
  align-items: center;
  display: grid;
  justify-content: center;
  margin-top:0.5rem;
  p {
    cursor: pointer;
    width:fit-content;
    text-align:center;
    font-size:calc(max(2.5vw, 3rem));
    margin:0.5rem 0;
  }
  a {
    text-decoration:none;
    color:black;
    display:flex;
    justify-content:center;
  }
}

.modal-icon {
  justify-content:flex-start;
  margin-left:1rem;
}

#nav-bar {
  display:flex;
  justify-content:center;
  position:fixed;
  width:100vw;
  z-index:2;
  height:3rem;
  background-color:black;
  button {
    margin:0 0.5rem;
    span {
      color:white;
    }
  }
}

.nav-links {
  text-decoration:none;
  color:white;
}

#reacttube-text {
  background-color:gray;
  background-size:cover;
  p {
    color:white;
  }
}

#weather-text {
  background-color:gray;
  background-size:cover;
  p {
    color:white;
  }
}


@media only screen and (min-width: 0px) {
  #app-wrapper {
    #app-column2 {
      width:100%;
      #project-tiles {
        display:flex;
        flex-direction:column;
        .project-image-wrapper {
          background-color:lightgray;
          display:contents;
          height:fit-content;
          img {
            width:100vw;
            height:calc(100vw/1.7);
            cursor:pointer;
            max-height:90vh;
          }
          div {
            display:block;
            p {
              text-align:center;
              padding-bottom:1rem;
            }
          }
        }
      }
    }
  }
  .technologies-used-list {
    white-space:nowrap;
    grid-template-columns:1fr;
    // border-bottom:1px solid rgba(0,0,0,0.2);
    padding:1rem;
  }
}